{% extends "layout.html" %}

{% block title %}
    working
{% endblock %}

{% block content %}

    <div class="card">
        <h1>
            {{ show.title }}
        </h1>
        <h3>
            {{ season.title }}
        </h3>

        {% if season.overview %}
            <p>{{ season.overview }}</p>
        {% else %}
            <p>--No overview--</p>
        {% endif %}

        <h5>Episodes:</h5>
        <ul class="episodes-list">
            {% for episode in episodes %}
                <li><a href="#">{{ episode.title }}</a></li>
            {% endfor %}
            <i class="fas fa-plus-circle add-icon"></i>

            <div id="addEpisodeFormWrapper">
                <button id="closeAddEpisodeBtn">&times;</button>
                <form action="">
                    <input type="hidden" value="{{ season.id }}">
                    <p class="form-control">
                        <label for="episodeNumber" class="form-element-label">Episode number: </label>
                        <input type="number" min="0" max="30" name="episode-number" id="episodeNumber">
                    </p>
                    <p class="form-control">
                         <label for="episodeTitle" class="form-element-label">Title: </label>
                         <input type="text" name="episode-title" id="episodeTitle">

                    </p>
                    <p class="form-control">
                        <label for="episodeOverview" class="form-element-label">Overview: </label>
                        <textarea name="episode-overview" id="episodeOverview" cols="20" rows="5"></textarea>
                    </p>
                    <p class="form-control">
                        <input type="submit" value="Add">
                    </p>
                </form>
            </div>
        </ul>

    </div>

{% endblock %}